<div id="container">
    <div class="title">
        <p>Welcome to NudeBlocker Admin </p>
    </div>
    <div id="content">

        <div class="content-left">

            <div class="logo-title">
                <img src="../../../assets/title.png" alt="">
            </div>

            <div (click)="navigateToDashboard()" class="login-with-google">
                <img src="../../../assets/google.png" alt="">
                <p>Login with Google</p>
            </div>

            <div class="login-with-facebook">
                <img src="../../../assets/facebook.png" alt="">
                <p>Login with Facebook</p>
            </div>
        </div>

        <div class="content-right">
            <img src="../../../assets/Login.gif" alt="">
        </div>


    </div>

    
</div>
